/*===== FONTS =====*/
@import 'fonts';

/*===== SASS VARIABLES =====*/
$color-brand: #1a7fbb;

$font-heading: 'Brandon', Helvetica, Arial, sans-serif;

$font-body: 'Avenir', Helvetica, Arial, sans-serif;

/*===== GENERAL STYLES =====*/
html body {
	background: #f7f7f7;
	overflow-x: hidden;
}

.dropshadow {
	border-bottom: solid #eeeeee 5px;
}

/*===== HEADER =====*/

header {
	background: #fff;
	border-bottom: 2px solid #e9e9e9 ;
	height: 61px;
	min-width: 100%;
	padding: 11px 15px 0 250px;
	position: fixed;
	z-index: 1;
}

.breadcrumbs {
	display: inline-block;
	font-size: 22px;
	font-family: $font-body;
	letter-spacing: 1.8;
}

.header-nav-wrapper {
	float: right;
	display: inline-block;
	margin-bottom: 20px;
}

.header-btn {
	color: #fff;
	font-family: $font-heading;
	font-size: 13px;
	font-weight: 100;
	margin-left: 15px;
	padding: 7px 25px;
}

.header-btn:hover {
	color: #fff;
}

.header-btn:focus {
	color: #fff;
	outline: none;
}

.btn-green {
	background-color: #53bc86;
	border-bottom: solid #4aa571 3px;
}

.btn-green:hover {
	background-color: #72cc9b;
	border-bottom-color: #60b281;
}

.btn-green:focus {
	background-color: #46a36c;
	border-bottom-color: #3f9160;
}

.btn-grey {
	background-color: #d1d1d1;
	border-bottom: solid #bcbcbc 3px;
}

.btn-grey:hover {
	background-color: #e2e2e2;
	border-bottom-color: #cccccc;
}

.btn-grey:focus {
	background-color: #afafaf;
	border-bottom-color: #939393
}

/*===== SIDEBAR NAV  =====*/

.brand {
	background: $color-brand;
	padding: 15px 0 0px 25px;
	height: 59px;
}

.brand-logo {
	height: 30px;
}

.nav-wrapper {
	background: #2c2c2c;
	height: 100%;
	position: fixed;
	width: 217px;
	z-index: 2;

	.sidebar {
		height: 90%;
		overflow: auto;
		padding-top: 10px;

		ul {
			padding: 0;
		}

		a {
			border-left: 5px solid transparent;
			color: #d9d9d9;
			display: inline-block;
			padding: 6px 0 6px 19px;
			text-decoration: none;
			width: 100%;
		}

		a:hover, a:hover > .fa {
			background: #f7f7f7;
			border-left-color: $color-brand;
			color: $color-brand;
		}

		span {
			font-family: $font-body;
			font-size: 14px;
			letter-spacing: 1.5;
			font-weight: 100;
		}

		.sub-nav span {
			padding-left: 43px;
		}
	}
}

/*===== SIDEBAR NAV ICONS =====*/

.fa {
	color: #d9d9d9;
	display: inline-block;
	font-size: 14px;
	margin-right: 16px;
}

/*===== HELP BAR =====*/

#help-bar {
	background: #e9e9e9;
	float: right;
	height: 100%;
	padding: 0 5px;
	position: fixed;
	right: -316;
	width: 346px;
	z-index: 0;	
}

.help-bar-content {
	padding: 70px 20px;
}

.fa-long-arrow-left, .fa-long-arrow-right {
	bottom: 10px;
	color: #000;
	position: absolute;
}

/*===== MAIN CONTENT =====*/
main {
	margin: 90px 0 25px 230px;
	position: absolute;
	width: 66%;

	.container-fluid {
		width: 800px;
		margin: 0;
	}
}

.sub-header-nav {
	border-bottom: solid #eeeeee 2px;
	padding: 0;
	margin: 0 0 20px;
	width: 100%;

	ul {
		list-style-type: none;
		padding: 0;
		margin-bottom: 5px;
	}

	li {
		margin-right: 20px;
		display: inline-block;
	}

	a {
		color: #7B7B7B;
		padding-bottom: 7px;
	}

	a:hover, a.active {
		color: $color-brand;
		text-decoration: none;
		border-bottom: solid $color-brand 2px;
	}
}

/*===== FORMS =====*/
#main-container fieldset {
	border-right: solid #eeeeee 2px;
	margin-bottom: 20px;
	width: 100%;

	.row {
		margin: 0;
	}
}

#main-container .input-group {
	background: #fff;
	border-top: solid #eeeeee 2px;
	border-left: solid #eeeeee 2px;
	padding: 15px 25px;
	font-family: $font-body;
	float: left;
}

.field-label {
	font-weight: 500;
	display: block;
}

/*===== FORM FIELDS =====*/
.input-group {

	.form-control {
		border: none;
		box-shadow: none;
		padding-left: 0;
		z-index: 0;
	}

	.form-control:focus {
		box-shadow: none;
	}

	.form-control::-moz-placeholder {
	  color: #CACACA;
	  font-style: italic;
	}

	.form-control:-ms-input-placeholder {
	  color: #CACACA;
	  font-style: italic;
	}

	.form-control::-webkit-input-placeholder {
	  color: #CACACA;
	  font-style: italic;
	}
}

.field-upload {
	border: dashed #eeeeee 2px;
	padding: 50px 5px;
	width: 125px;
	font-style: italic;
	color: #CACACA;
	font-weight: 100;
	text-align: center;
}

.field-upload .upload-file {
	display: none;
}

.field-upload:hover {
	cursor: pointer;
}

.input-group .field-textarea {
	resize: none;
	margin-bottom: 20px;
	border-radius: 2px;
}

select {
	display: block;
	width: 100%;
	background: #fff;
	border: none;
	outline: none;
	margin-left: -7px;

}

select option:disabled {
	color: #eeeeee;
}

#main-container .new-ticket-wrapper {
	background: #e9e9e9;
}

#main-container .new-ticket-wrapper textarea {
	padding: 20px 20px;
}

#main-container .new-ticket-wrapper.dropshadow {
	border-bottom: solid #d5d5d5 5px;
}

.color-thumbnail {
	height: 50px;
	width: 50px;
	display: inline-block;
}

.color-select {
	display: inline-block;
	width: 80%;
	position: relative;
	bottom: 20px;
	margin: 0 0 0 10px;
}

.color-thumbnail.header {
	background: #7f7d7f;
}
.color-thumbnail.footer {
	background: #000;
}
.color-thumbnail.search {
	background: $color-brand;
}
.color-thumbnail.list {
	background: #65df7d;
}

/*===== TABLES =====*/
.table {
	font-size: 14px;
	margin-bottom: 0 !important;

	th, td {
		font-weight: 100;
		border: none !important;
	}

	th {
		font-weight: 500;
	}

	a {
		text-decoration: none;
	}

	.table-head-link, .table-body-link {
		text-align: right;
	}

	.table-body-link > a {
		visibility: hidden;
		margin-left: 15px;
	}
}

.table-hover tbody tr:hover td {
    background: #ebf6fc;
}

.table-hover tbody tr:hover td a {
    visibility: visible;
}

.amount-due {
	font-size: 20px;
}

.ticket-number {
	color: $color-brand;
}

/*===== PANELS =====*/
.panel {
	border-color: #ebebeb;
	border-bottom: 0;
	border-radius: 2px;
}

.panel-heading {
	background: #ebebeb;
	font-weight: 300;

	p {
		display: inline;
	}

	.fa {
		color: #444444;
		float: right;
		font-size: 30px;
	}
}

.panel-heading:hover {
	cursor: pointer;
}

.panel-body {
	border-top: 0 !important;
	padding: 5px 15px;

	table tbody td {
		font-weight: 300;
		font-family: 'Avenir';
		padding-left: 30px;
	}
}

/*===== AVATARS =====*/
.admin-avatar {
	height: 50px;
	float: right;
}