/*===== FONTS =====*/
@font-face {
  font-family: 'Brandon';
  src: url("../fonts/brandon_bld-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/brandon_bld-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_bld-webfont.woff") format("woff"), url("../fonts/brandon_bld-webfont.ttf") format("truetype"), url("../fonts/brandon_bld-webfont.svg#e2b4a901dc21adc8c4deecbedb302532") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Avenir Regular';
  src: url("../fonts/AvenirNext-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/AvenirNext-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-Regular.woff") format("woff"), url("../fonts/AvenirNext-Regular.ttf") format("truetype"), url("../fonts/AvenirNext-Regular.svg#fe299bf9c71888f1da7b2c2d74973b56") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Avenir Light';
  src: url("../fonts/AvenirNext-light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/AvenirNext-light.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-light.woff") format("woff"), url("../fonts/AvenirNext-light.ttf") format("truetype"), url("../fonts/AvenirNext-light.svg#bdda6bf0cbb2275362361ca24e93166f") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'Avenir Bold';
  src: url("../fonts/AvenirNext-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/AvenirNext-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-Bold.woff") format("woff"), url("../fonts/AvenirNext-Bold.ttf") format("truetype"), url("../fonts/AvenirNext-Bold.svg#92550229aad14ffa2dc273e49410d17e") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700;
}
/*===== SASS VARIABLES =====*/
/*===== GENERAL STYLES =====*/
html body {
  background: #f7f7f7;
  overflow-x: hidden;
}

.dropshadow {
  border-bottom: solid #eeeeee 5px;
}

.alert {
  color: #e83d33;
}

/*===== HEADER =====*/
.main-header {
  background: #fff;
  border-bottom: 2px solid #e9e9e9;
  height: 61px;
  min-width: 100%;
  padding: 15px 15px 0 250px;
  position: fixed;
  z-index: 1;
}

.breadcrumbs {
  float: left;
  font-size: 22px;
  font-family: "Avenir Light", Helvetica, Arial, sans-serif;
  letter-spacing: 1.8;
}

.header-nav-wrapper {
  float: right;
  margin-bottom: 20px;
}

.btn-wrapper {
  margin-bottom: 20px;
  text-align: right;
}

.header-btn {
  color: #fff;
  font-family: "Brandon", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  margin-left: 15px;
  padding: 7px 25px;
}

.header-btn:hover {
  color: #fff;
}

.header-btn:focus {
  color: #fff;
  outline: none;
}

.btn-green {
  background-color: #53bc86;
  border-bottom: solid #4aa571 3px;
}

.btn-green:hover {
  background-color: #72cc9b;
  border-bottom-color: #60b281;
}

.btn-green:focus {
  background-color: #46a36c;
  border-bottom-color: #3f9160;
}

.btn-grey {
  background-color: #d1d1d1;
  border-bottom: solid #bcbcbc 3px;
}

.btn-grey:hover {
  background-color: #e2e2e2;
  border-bottom-color: #cccccc;
}

.btn-grey:focus {
  background-color: #afafaf;
  border-bottom-color: #939393;
}

/*===== SIDEBAR NAV  =====*/
.brand {
  background: #1a7fbb;
  padding: 15px 0 0px 25px;
  height: 59px;
}

.brand-logo {
  height: 30px;
}

.nav-wrapper {
  background: #2c2c2c;
  height: 100%;
  position: fixed;
  width: 217px;
  z-index: 2;
}
.nav-wrapper .sidebar {
  height: 90%;
  overflow: auto;
  padding-top: 10px;
  /*==Fix for Firefox auto-focus ==*/
}
.nav-wrapper .sidebar ul {
  padding: 0;
}
.nav-wrapper .sidebar li {
  margin: 0;
}
.nav-wrapper .sidebar a {
  border-left: 5px solid transparent;
  color: #d9d9d9;
  display: inline-block;
  padding: 10px 0 6px 19px;
  text-decoration: none;
  width: 100%;
}
.nav-wrapper .sidebar a:focus {
  background: none;
  outline: none;
}
.nav-wrapper .sidebar a:hover, .nav-wrapper .sidebar a:hover > .fa, .nav-wrapper .sidebar a.active, .nav-wrapper .sidebar a.active > .fa {
  background: #f7f7f7;
  border-left-color: #1a7fbb;
  color: #1a7fbb;
}
.nav-wrapper .sidebar span {
  font-family: "Avenir Light", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
}
.nav-wrapper .sidebar .sub-nav span {
  padding-left: 43px;
  font-family: "Avenir Light", Helvetica, Arial, sans-serif;
}

/*===== SIDEBAR NAV ICONS =====*/
.fa {
  color: #d9d9d9;
  display: inline-block;
  font-size: 14px;
  margin-right: 16px;
}

/*===== HELP BAR =====*/
#help-bar {
  background: #e9e9e9;
  float: right;
  height: 100%;
  padding: 0 5px;
  position: fixed;
  right: -316px;
  width: 346px;
  z-index: 0;
}

.help-bar-content {
  padding: 70px 20px;
}

.fa-long-arrow-left, .fa-long-arrow-right {
  bottom: 10px;
  color: #000;
  position: absolute;
}

/*===== MAIN CONTENT =====*/
#main-container {
  margin: 90px 0 25px 230px;
  position: absolute;
  width: 40%;
  min-width: 330px;
}

.sub-header-nav {
  border-bottom: solid #eeeeee 2px;
  padding: 0;
  margin: 0 0 20px;
  width: 100%;
}
.sub-header-nav ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 5px;
}
.sub-header-nav li {
  margin-right: 20px;
  display: inline-block;
}
.sub-header-nav a {
  color: #7B7B7B;
  padding-bottom: 7px;
  font-weight: 300;
}
.sub-header-nav a:hover, .sub-header-nav a.active {
  color: #1a7fbb;
  text-decoration: none;
  border-bottom: solid #1a7fbb 2px;
}

/*===== FORMS =====*/
#main-container .content-container {
  border-right: solid #eeeeee 2px;
  margin-bottom: 20px;
  width: 100%;
}
#main-container .content-container .row {
  margin: 0;
}
#main-container .content-container .input-container, #main-container .content-container .table-container {
  background: #fff;
  border-top: solid #eeeeee 2px;
  border-left: solid #eeeeee 2px;
  padding: 15px 25px;
  font-family: "Avenir Regular", Helvetica, Arial, sans-serif;
  float: left;
}

.field-label {
  font-weight: 500;
  display: block;
}

.form-group {
  margin: 0;
}

/*===== FORM FIELDS =====*/
.input-container .form-control {
  border: none;
  box-shadow: none;
  padding-left: 0;
  z-index: 0;
}
.input-container .form-control:focus {
  box-shadow: none;
}
.input-container .form-control::-moz-placeholder {
  color: #CACACA;
  font-style: italic;
}
.input-container .form-control:-ms-input-placeholder {
  color: #CACACA;
  font-style: italic;
}
.input-container .form-control::-webkit-input-placeholder {
  color: #CACACA;
  font-style: italic;
}

.field-upload {
  border: dashed #eeeeee 2px;
  padding: 50px 5px;
  width: 125px;
  font-style: italic;
  color: #CACACA;
  font-weight: 100;
  text-align: center;
}

.field-upload .upload-file {
  display: none;
}

.field-upload:hover {
  cursor: pointer;
}

.field-textarea {
  border: 1px solid #eee;
  width: 100%;
}

.field-textarea:focus {
  outline: none;
}

.bootstrap-select {
  width: 100% !important;
}
.bootstrap-select .dropdown-toggle {
  padding-left: 0;
  width: 100%;
}

.selectpicker {
  display: block;
  background: #fff;
  border: none;
  outline: none;
  box-shadow: none;
}

.selectpicker:hover {
  background: #fff;
}

.selectpicker a {
  outline: none;
}

.dropdown-toggle.selectpicker.btn-default {
  background: #fff;
  box-shadow: none;
}

.form-group .bootstrap-select .btn:focus {
  background: #fff;
  box-shadow: none;
  outline: none !important;
}

.select-placeholder {
  color: #CACACA;
  font-style: italic;
}

#main-container .new-ticket-wrapper {
  background: #e9e9e9;
}

#main-container .new-ticket-wrapper textarea {
  padding: 20px 20px;
}

#main-container .new-ticket-wrapper.dropshadow {
  border-bottom: solid #d5d5d5 5px;
}

.color-thumbnail {
  height: 50px;
  width: 50px;
  display: inline-block;
}

.color-select {
  display: inline-block;
  width: 80%;
  position: relative;
  bottom: 20px;
  margin: 0 0 0 10px;
}

.color-thumbnail.header {
  background: #7f7d7f;
}

.color-thumbnail.footer {
  background: #000;
}

.color-thumbnail.search {
  background: #1a7fbb;
}

.color-thumbnail.list {
  background: #65df7d;
}

/*===== TABLES =====*/
.table {
  font-size: 14px;
  margin-bottom: 0 !important;
}
.table th, .table td {
  font-weight: 100;
  border: none !important;
}
.table th {
  font-weight: 500;
}
.table a {
  text-decoration: none;
}
.table .table-head-link, .table .table-body-link {
  text-align: right;
}
.table .table-body-link > a {
  visibility: hidden;
  margin-left: 15px;
}

.table-hover tbody tr:hover td {
  background: #ebf6fc;
}

.table-hover tbody tr:hover td a {
  visibility: visible;
}

.amount-due {
  font-size: 20px;
}

.ticket-number {
  color: #1a7fbb;
}

/*===== PANELS =====*/
.panel {
  border-color: #ebebeb;
  border-bottom: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.panel-heading {
  background: #ebebeb;
  font-weight: 300;
}
.panel-heading p {
  display: inline;
}
.panel-heading .fa {
  color: #444444;
  float: right;
  font-size: 30px;
}

.panel-heading:hover {
  cursor: pointer;
}

.panel-body {
  border-top: 0 !important;
  padding: 5px 15px;
}
.panel-body table tbody td {
  font-weight: 300;
  font-family: "Avenir Regular", Helvetica, Arial, sans-serif;
  padding-left: 30px;
}

/*===== AVATARS =====*/
.admin-avatar {
  height: 50px;
  float: right;
}
