@font-face {
  font-family: 'Avenir';
  src: url("../fonts/avenir_next_rg-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/avenir_next_rg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/avenir_next_rg-webfont.woff") format("woff"), url("../fonts/avenir_next_rg-webfont.ttf") format("truetype"), url("../fonts/avenir_next_rg-webfont.svg#95d90f2cd2aa64bdfee0e9f34c516e71") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Brandon';
  src: url("../fonts/brandon_bld-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/brandon_bld-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_bld-webfont.woff") format("woff"), url("../fonts/brandon_bld-webfont.ttf") format("truetype"), url("../fonts/brandon_bld-webfont.svg#e2b4a901dc21adc8c4deecbedb302532") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}